@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}


html {
  scroll-behavior: smooth;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --white: #ffffff;

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  height: calc(var(--vh, 1vh) * 100);
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));

  overflow: auto;
}

main {
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
  scroll-snap-type: y mandatory;

}

@media (max-width: 500px) {
  div.parent {
    flex-direction: column;
  }
}

div.parent {
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;

}

div.parent-75vh {
  width: 100%;
  height: calc(var(--vh, 1vh) * 75);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  /* scroll-snap-align: start; */
}

div.parent-150vh {
  width: 100%;
  height: calc(var(--vh, 1vh) * 150);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}

div.parent-200vh {
  width: 100%;
  height: calc(var(--vh, 1vh) * 200);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
}

div.parent-infinite {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
}

.progress-bar {
  position: fixed;
  top: 4%;
  left: 26%;
  right: 0;
  height: 1px;
  width: 50%;
  background: var(--white);
  transform-origin: 0%;
}

p {
  font-family: Pretendard-Regular;
}

h1 {
  font-family: Pretendard-Regular;
}

h2 {
  font-family: Pretendard-Regular;
}

*::-webkit-scrollbar {
  display: none;
}