@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff")
    format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff")
    format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff")
    format("woff");
  font-weight: 500;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --white: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  height: calc(var(--vh, 1vh) * 100);
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

  overflow: auto;
}

main {
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 500px) {
  div.parent {
    flex-direction: column;
  }
}

div.parent {
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  flex-direction: column;
}

div.parent-75vh {
  width: 100%;
  height: calc(var(--vh, 1vh) * 75);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  /* scroll-snap-align: start; */
}

div.parent-150vh {
  width: 100%;
  height: calc(var(--vh, 1vh) * 150);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

div.parent-200vh {
  width: 100%;
  height: calc(var(--vh, 1vh) * 200);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div.parent-infinite {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
}

div.parent-400vh {
  width: 100%;
  height: calc(var(--vh, 1vh) * 400);
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.parent-600vh {
  width: 100%;
  height: calc(var(--vh, 1vh) * 600);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  position: sticky;
}

.progress-bar {
  position: fixed;
  top: 4%;
  left: 26%;
  right: 0;
  height: 1px;
  width: 50%;
  background: var(--white);
  transform-origin: 0%;
}

p {
  font-family: Pretendard;
}

h1 {
  font-family: Pretendard;
}

h2 {
  font-family: Pretendard;
}

button {
  font-family: Pretendard;
}

*::-webkit-scrollbar {
  display: none;
}
